body { width: 600px; padding: 0; margin: 7px; }
#source textarea { width: 98%; margin: 0; padding: 1%; background: #fdfff4; }
#options { background: #ededed; width: 98%; padding: 7px; }
#options .row { margin-bottom: 5px; }
#options .form-actions { border-top: 1px solid #e2e2e2; text-align: center; padding-top: 5px; }
#options input[name="divstyles"] { width: 548px; }
#options input[type="submit"] { width: 100px; }
#options label { margin-right: 30px; }
#options label:last-child { margin-right: 0; }
footer { font-size: .8em; color: #888; text-align: right; }
